<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Learn More</title>

  <!--BOOTSTRAP-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" />

  <!-- CSS LINKS -->
  <link rel="stylesheet" type="text/css" href="../CSS-Files/style.css" />
  <link rel="stylesheet" href="../CSS-Files/nav.css" />