* {
	margin: 0;
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #444;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 400;
	max-width: 1140px;
	margin: 0 auto;
}

h1 {
	font-weight: 300;
	font-size: 180%;
}

.hero {
	background-image: url(assets/img/karolina-szczur-504611-unsplash-min.jpg);
	background-size: cover;
	background-position: center;
	height: 50vh;
}

h2, p {
	text-align: center;
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}