body {
	background-color: skyblue;
	font-family: 'Times New Roman', Times, serif;
	margin: 20px;
	font-size: 1.5em;
	color: navy;
}

h2, h3, p {
	text-align: center;
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}