<%- include('./includes/head.ejs') %>

<link rel="stylesheet" href="/css/stories.css" />
</head>

<body>
  <%- include('./includes/navigation.ejs') %>
  <section class="custHero">
    <div class="row">
      <div class="hero-text">
        <h2 class="introText">
          <div class="introTextSize rev"> Your</div>
          <div class="introTextSize rev"> &nbspThings.</div>
          <div class="introTextSize rev"> &nbspOrganized.</div>
        </h2>
        <a class="btn btn-sign getStarted rev" href="/contact">Get Started</a>
        <a class="btn btn-learn learnMore rev" href="/about">Learn More</a>
      </div>
    </div>
  </section>

  <div class="ownLessBack">
    <h1 class="introText2">
      <div class="introTextSize text1 rev3">Own less. Live More. &nbsp</div>
    </h1>
  </div>

  <section class="img1">
    <div class="row" id="reclaim">
      <h2 class="rev2">Reclaim your home and take back what matters most: <b>your time</b></h2>
      <p class="rev2">We offer downsizing assistance for seniors and their families during major life changes <br>
        When adult children can’t tackle the project alone, we will be there to help <br>
        We are the extra family member you need and your guide through the practical steps of life's transitions</p>
      <a class="btn btn-learn rev2" id="c" href="/about">Learn more</a>
    </div>
  </section>

  <%- include('./includes/footer.ejs') %>
  <%- include('./includes/end.ejs') %>