
/* radio buttons */
.radio_container { 
    display: inline-block;
    position: relative;

    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px;
}

/* This hides the original radio button layout */
.radio_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* This creates the custom buttons */
.custom_button {
    position: absolute;
    top: 4px;
    left: 0;
    height: 20px;
    width: 20px;

    background-color: #ffffff;
    border-color:#9b59b6;
    border-style:solid;
    border-width:2px;
    border-radius: 50%;
}

/* Style of filled-in-circle */
.radio_container .custom_button:after {
    left: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background:#9b59b6;
}

/* This creates the filled-in-circle */
.custom_button:after {
    content: "";
    position: absolute;
    display: none;
}

/* This shows the filled-in-circle */
.radio_container input:checked ~ .custom_button:after {
    display: block;
}

